
/*from murri grid css*/
.item {
  color: white;
  cursor: pointer;
  height: 200px;
  /*margin: 20px;*/
  position: absolute; /* Required by Muuri */
  width: 200px;
}
.item-ld {
  color: white;
  cursor: pointer;
/*  width: 400px;
  height: 450px;*/
  position: absolute;  /* Required by Muuri */  
}
 
.muuri-item-dragging {
  z-index: 3;   /* Required by Muuri */
}
 
.muuri-item-releasing {
  z-index: 2; /* Required by Muuri */
}
 
.muuri-item-hidden {
  z-index: 0; /* Required by Muuri */
}
 
.box1 {
  background-color: orange; /* Go */
}
 
.box2 {
  background-color: blue; /* Gators */
}
 
.grid-button {
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    margin: 10px;
    padding: 9px;
    text-align: center;
    text-decoration: none;
    width: 100px;
    box-sizing: content-box;
    border: none;
    /* border-radius: 10px; */
    font: normal 16px/1 "Times New Roman", Times, serif;
    color: black;
    text-overflow: ellipsis;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(210,239,198,0.4)), to(rgba(93, 85, 67, 0.69)));
    background: linear-gradient(180deg, rgba(210, 239, 198, 0.31) 0, rgba(93, 85, 67, 0.24) 100%);
    background-position: 10% 50%;
    font-family: 'Roboto Slab', serif;
}
/*end from murri grid css*/

.grid {
  background: #eef3e1;
  /*background: #a78585;*/
  max-width: 1200px;
  margin: auto;
  height: 1367px;
  position: relative; 
    display: block;
}

/* clear fix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- .grid-item ---- */

.grid-item {
    float: left;

}
.grid-item-400x450 {
  float: left;
  width: 400px;
  height: 450px;
}

.grid-item img {
  display: block;
  max-height: 100%;
}

.grid-item--width2 { width: 584px; } 

.grid-item--height2 { height: 168px; }



.grid-item:hover {
  background: #1D0047;
}

.grid-item img:hover {
  opacity: 0.4;
  filter: alpha(opacity=40);
  /* For IE8 and earlier */
}
.item-content{
opacity: 1;
}
.md-sq{
opacity: 1;
}
.displaynone{
 display:none;
 /*position:relative;*/
 /*height:0%;*/
 /*position: absolute;
 opacity: 0*/
}

.captiontext,
.figure {
  display: inherit;
  top: 0;
  text-align: center;
  display: block;
}
.hovereffect {
  width: 100%;
  height: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
}
/*up state*/
.hovereffect .overlay {
  /*width: 35%;*/
  width: 200px;
  width: 240px;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  padding: 20px;
  background-color: rgba(72, 61, 61, 0.8);
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transform: translateX(-100px);

  -moz-transform: translateX(-100px);
  transform: translateX(-100px);

  -webkit-transition: all .2s .2s ease-in-out;
  transition: all .2s .2s ease-in-out;

  /*-webkit-transition: all .5s .1s ease-in-out;
  transition: all .5s .1s ease-in-out;*/
}
 /*large tall rec*/
.dell-tech {
  background-image: url(../images/gridisotope/dell.gif);
  width: 289px;
  height: 336px;
  background-size: cover;
}
.aestheticcare {
  background-image: url(../images/gridisotope/aestheticcare.gif);
  width: 289px;
  height: 336px;
  background-size: cover;
}
 /*end large tall rec*/


 /*small wide rec*/
.clairmail {
  background-image: url(../images/gridisotope/clairmail.jpg);
  width: 289px;
  height: 168px;
  background-size: cover;
}
.secondchance {
  background-image: url(../images/gridisotope/secondchance.jpg);
  width: 289px;
  height: 168px;
  background-size: cover;
}
.wataah {
  background-image: url(../images/gridisotope/wataah.jpg);
  width: 289px;
  height: 168px;
  background-size: cover;
}
.wilmette{
  background-image: url(../images/gridisotope/wilmette.jpg);
  width: 289px;
  height: 168px;
  background-size: cover;
}

.banners{
  background-image: url(../images/gridisotope/banners.jpg);
  width: 289px;
  height: 168px;
  background-size: cover;
}

.banners2{
  background-image: url(../images/gridisotope/banners2.jpg);
  width: 289px;
  height: 168px;
  background-size: cover;
}
.avaya{
  background-image: url(../images/gridisotope/avaya.jpg);
  width: 289px;
  height: 168px;
  background-size: cover;
}
.mcgraw{
  background-image: url(../images/gridisotope/mcgraw.jpg);
  width: 289px;
  height: 168px;
  background-size: cover;
}

 /* end small wide rec*/



.copa-mudial{
  background-image: url(../images/gridisotope/copa-mundial.jpg);
  width: 578px;
  height: 336px;
  background-size: cover;
}

.optioncare{
  background-image: url(../images/gridisotope/optioncare.jpg);
  width: 578px;
  height: 336px;
  background-size: cover;
}

/*hover state*/
.hovereffect:hover .overlay {
  opacity: 1;

  filter: alpha(opacity=100);
  -webkit-transition-delay: 0s;

  transition-delay: 0s;
  -webkit-transform: translate(0px, 0px);

  -ms-transform: translate(0px, 0px);
  transform: translate(0px, 0px);

  -webkit-transition: all .5s .1s ease-in-out;
  transition: all .5s .1s ease-in-out;

  /*-webkit-transition: all .2s .2s ease-in-out;
  transition: all .2s .2s ease-in-out;*/

}
.hovereffect:hover .plusoverlay {
  opacity: 0;

  filter: alpha(opacity=0);
  -webkit-transition-delay: 0s;

  transition-delay: 0s;
  -webkit-transform: translate(0px, 0px);

  -ms-transform: translate(0px, 0px);
  transform: translate(0px, 0px);

  -webkit-transition: all .5s .1s ease-in-out;
  transition: all .5s .1s ease-in-out;
}
.hovereffect:hover .arrowoverlay {
  opacity: 1;

  filter: alpha(opacity=1);
  -webkit-transition-delay: 0s;

  transition-delay: 0s;
  -webkit-transform: translate(0px, 0px);

  -ms-transform: translate(0px, 0px);
  transform: translate(0px, 0px);

  -webkit-transition: all .5s .1s ease-in-out;
  transition: all .5s .1s ease-in-out;

}

.hovereffect img {
  display: block;
  position: relative;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.hovereffect h2 {
    color: #dee490;
    text-align: left;
    position: relative;
    font-weight: 300;
    font-size: 22px;
    line-height: 1em;
    letter-spacing: .03em;
    margin-bottom: 1%;
    margin-top: 0px;
}

.hovereffect h5 {
    color: #dee490;
    text-align: left;
    position: relative;
    font-weight: 300;
    font-size: 13px;
    line-height: 1.2em;
    margin-top: 1%;
    letter-spacing: .03em;
}
.arrowoverlay h5 {
    margin-left: 131%;
    /* margin-top: 13%; */
    font-family: "NeufileGrotesk-Light", sans-serif;
    text-transform: uppercase;
    color: #c5c1c1;
    text-align: left;
    position: relative;
    font-size: 9px;
    line-height: 1.4em;
    margin-top: 10%;
    letter-spacing: .1em;
    width: 58px;
}

.hovereffect a.info {
    display: inline-block;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: transparent;
    z-index:40;
    color: #9c27b000 !important;
}

.hovereffect hr {
    width: 100%;
    z-index: 10;
    position: relative;
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #dee490;
    margin: .3em 0;
    padding: 0; 
}

.arrowoverlay{
   position: absolute;
    /*background-image: url(../img/isotope/arrow1.png);*/
    background-image: url(../images/gridisotope/arrow1.png);
    background-repeat: no-repeat, repeat;
    background-size: contain;
    /*background-color: #cccccc;*/
    height: 15px;
    width: 19px;
    z-index: 10;
    bottom: 20px;
    left: 20px;
    opacity: 0;
}
.plusoverlay{
    position: absolute;
    background-image: url(../images/gridisotope/plus1.png);
    background-repeat: no-repeat, repeat;
    background-size: contain;
    /*background-color: #cccccc;*/
    height: 15px;
    width: 19px;
    z-index: 10;
    bottom: 20px;
    left: 23px;
}
.footnav-wide{
    display: block;
}
.navbar-hr{
    display: none;
  }
.footnav-narrow{
  text-align: center;
    position: relative;
    font-size: 2.1em;
    line-height: 1em;
    letter-spacing: .03em;
    display: none;
}
.ld-copyright h6{
        font-size: 9px;
    color: #999999;
    letter-spacing: .08em;
}
.ld-copyright{
    float: right;
    position: relative;
    float: right;
    top: -13.5px; 
    right: -15px;
}

.ld-copyright-work{
    top: -3px; 
}
.work-section {
    position: relative;
    height: auto;
    background-color: #52796b14;
    margin: auto;
}
@media (max-width: 1200px) {
  .nk-slider-nav.nk-slider-nav-slim .nk-slider-nav-next {
  right: -95%;
   }
  .work-section{
  /*height:2370px;*/
  /*height: 2344px;*/
  }
  .grid {
  max-width: 800px;
  background-color: #fff;
  }
  .about-section h3 {
    width: 60%;
  }
}


@media (max-width: 800px) {
    .work-section{
    /*height:2785px;*/
    }
    .grid {
    max-width:400px;
    background-color: #fff;
    }
    .grid-item--width2 {
    width:400px;
    height:225px;
    }
    .nk-navbar-content {
      /*padding-top: 35px;*/
      padding-top: 15px;
      padding-bottom: 10px;
      border-top: 0px solid #999999;
    }
  
  .navbar-hr{
    display: block;
  }
  .envelope-email{
    height: 55px;
    width: 31px;
    
    margin-top: -13px;
    margin-left: -20px;
  }

.grid-item {
    width: 400px;
    height: 225px;
    }
    
  }

@media (max-width: 415px) {
    .work-section{
    /*height:2785px;*/
    }
    .grid {
    max-width:400px;
    }
    .grid-item--width2 {
    width:400px;
    height:225px;
    }
    .nk-navbar-content {
      /*padding-top: 35px;*/
      padding-top: 15px;
      padding-bottom: 10px;
      border-top: 0px solid #999999;
    }
  
  .navbar-hr{
    display: block;
  }
  .envelope-email{
    height: 55px;
    width: 31px;
    
    margin-top: -13px;
    margin-left: -20px;
  }

.grid-item {
    width: 100%;
    height: auto;
    }

 .grid-item img {
    display: block;
    max-width: 100%;
}   
    
  }
